span {
    float: right;
}

.stress-track-title {
    font-size: 12pt;
    text-transform: uppercase;
    text-align:right;
    width:auto;
    color:black;
    font-weight:500;
    font-family:'Barlow Condensed',sans-serif;
}

.title-column {
    margin: 1pt 1pt;
    padding: 3px;
    display:table-cell;
}

.column {
    width: 1.5em;
}

.last-col,
.column {
    margin: 1pt 0.5pt;
    padding: 0;
    display:table-cell;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row {
    position: relative;
    width: 100%;
    display:table-row;
}