


.td.border {
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 2pt;
}

@media print {
    .character-sheet {
        border-collapse: collapse;
        margin: 0 !important;
        padding: 0 !important;
        height: 100% !important;
        width: auto !important;
        box-shadow: none !important;
    }
}

.character-sheet {
    margin-top: -0.25in !important;
}