


.td.border {
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 2pt;
}

@media print {
    .character-sheet {
        border-collapse: collapse;
    }
}

.character-sheet {
    padding: 0;
    margin-top: 0.1in;
}