/**
    Global CSS variables (custom properties).
    These should include the likes of color definitions for branding, media breakpoints, and related concepts.

	for reference read: https://developers.google.com/web/updates/2016/02/css-variables-why-should-you-care
	and https://www.smashingmagazine.com/2018/05/css-custom-properties-strategy-guide/

 */

/* unless there is good reason to limit a custom property to only certain
classes or elements, place definitions under :root */

:root {
	/* these examples are from material design (https://material.io/design/color/the-color-system.html#color-theme-creation) */

	/* these used in normalize.css and through out the rest of the app*/
	--header-primary-background-color: black;
	--header-primary-color: white;
	--header-alternate-color: black;
	--header-alternate-background-color: white;
	--text-primary-color: black;
	--text-primary-background-color: transparent;

	--default-line-height: 1;

	--link-unvisited-color: rgb(13, 70, 200);
	--link-visited-color: rgb(38, 40, 92);
	--input-border-color: #ccc;
	--input-disabled-color: #ccc;
	--button-color: #333;
	--button-disabled-color: #999;
	--button-background-color: #f4f4f4;
	--button-background-color-active: #ddd;
	--button-border-color-focus: #666;

	/* aliases for font faces. the exact font in use may change. but I don't want to update lots of separate files. */
	/*
	--section-header-font: 'Helvetica';
	--subsection-header-font: 'Arial';
	--main-text-font: 'Courier New';
	--stress-track-title-font: 'Arial';
	--consequence-title-font: 'Arial';
	--skill-number-font: 'Arial Bold';
	--skill-title-font: 'Helvetica';
	--hint-text-font: 'Courier New';
	--name-text-font: 'Helvetica';
	--stunt-name-font: 'Helvetica';
	--stunt-description-font: 'Courier New';
	--aspect-text-font: 'Courier New';
	*/

	/* NOTE: Any values that will be reused, within related/similar contexts, but spread across components are candidates to place in this file.*/
}