.skill-line {
    margin-bottom: 0.5pt;
}

.skill-value, .skill-name {
    font-family: 'Gothic A1', sans-serif;
    font-size: 16pt;
    border-bottom-width: 0.5pt;
}


.skill-value {
    width: 2.2rem;
    margin-right: 3pt;
    font-weight: bolder;
}

input[type="number"],
input[type="number"]:active,
input[type="number"]:hover,
input[type="number"]:focus,
input[type="text"],
input[type="text"]:active,
input[type="text"]:hover,
input[type="text"]:focus {
    border-radius: 0;
    border: 0.5pt solid white;
    border-bottom-color: black;
}

.skill-name {
    width: 70%;
    border-bottom-color: #666;
}

@media print {
    .skill-name {
        border-color: white !important;
    }
}