/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    /* margin: 2pt 4pt;
    padding: 2pt; */
    width: 1.2em;
    position: relative;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row {
    padding-left: 10px;
    position: relative;
    width: 100%;
}

textarea {
    padding: 0.15em;
    font-size: 10pt;
    border: none;
    overflow:hidden;
    resize: none;
    display: block;
    width: 100%;
    font-family: "Barlow",sans-serif;
}