
main {
    padding: 0.5in;
    margin: 64px 128px;
    min-height: 11in;
    width: 8.5in;
    border-collapse: collapse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.td.border {
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 2pt;
}