
main {
    text-align: left;
    padding: 0;
    margin: 0 0;
}

@media print {
    .noprint {
        display: none !important;
    }
    .printme {
        display: block !important;
    }


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    main {
        text-align: left;
        padding: 0 !important;
        margin: 0 !important;
    }
    .page {
        box-shadow: none !important;
        overflow: hidden !important;
        margin: 0 auto !important;
        page-break-before: always;
        width: 8.5in !important;
        height: 11in !important;
        padding: 0;

    }
}

.printme {
    display: none;
}

.page {
    width: 8.5in;
    height: 11in;
    padding: 0.5in;
    margin: 5rem auto;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.file-loader div {
    display: block;
    height: 100%;
    width: 100%;
}

.file-loader {
    position: relative;
    height: 100vh;
    width: 100%;
    font-size: 28pt;
    text-align: center;
    vertical-align: center;
}

.file-loader div,
.file-loader div p {
    display: block;
    height: 100vh;
    width: 100%;
}

mwc-tab-bar {
    --mdc-theme-primary: var(--mdc-theme-text-primary-on-dark);
    --mdc-text-transform: none;
    --mdc-tab-color-default: var(--mdc-theme-text-primary-on-dark);
    --mdc-tab-text-label-color-default: var(--mdc-theme-text-primary-on-dark);
}