* {
    line-height: 1.3rem !important;
    margin-bottom: 0.4rem !important;
}

h1,h2,h3,h4 {
    margin-top: 1rem !important;
    margin-bottom: 1.5rem !important;
}


p {
    margin-bottom: 0.5rem !important;
    text-indent: 1.1rem !important;
    line-height: 1.3rem !important;
}

li,ol {
    margin-left: 2rem !important;
    margin-bottom: 0.5rem !important;
}