.aspect-label {
    font-family: "Gothic A1 Black",sans-serif;
    text-transform: uppercase;
    width: 100%;
    display: block;
    font-size: 10pt;
    font-weight: 900;
}
.aspect {width: 100%; margin-bottom: 0.25rem;}

textarea {
    padding: 0.15rem;
    font-size: 10pt;
    border: none;
    overflow:hidden;
    resize: none;
    display: block;
    width: 100%;
    font-family: "Barlow",sans-serif;
}